/* for small devices  */
@media screen and (max-width:576px) {
    .navbar {
        justify-content: space-between;
    }
    .banner-container, .extra-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 5px;
    }
    .btn{
        justify-content: space-evenly;
    }
    .habits-container, .teams-content{
        grid-template-columns: 1fr;
    }
    .footer-container{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 1300px;
    }
    
.list-items{
    display: none;
}
    .icon{
        display: block;
    }
    .banner-title {
        font-size: 2rem;
        font-weight: 600;
        width: 100%;
    }
    .teams{
        margin-top: 300px;
    }
    .teams-content{
        justify-content: center;
        align-items: center;
    }
    
}

/* @media screen and (min-width:577px) and (max-width:992px) {
    .icon {
        display: none;
    }
} */